/* Document
 * ========================================================================== */
/**
 * Add border box sizing in all browsers (opinionated).
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
 * 1. Add text decoration inheritance in all browsers (opinionated).
 * 2. Add vertical alignment inheritance in all browsers (opinionated).
 */
::before,
::after {
  text-decoration: inherit;
  /* 1 */
  vertical-align: inherit;
  /* 2 */
}

/**
 * 1. Use the default cursor in all browsers (opinionated).
 * 2. Change the line height in all browsers (opinionated).
 * 3. Use a 4-space tab width in all browsers (opinionated).
 * 4. Remove the grey highlight on links in iOS (opinionated).
 * 5. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 * 6. Breaks words to prevent overflow in all browsers (opinionated).
 */
html {
  cursor: default;
  /* 1 */
  line-height: 1.5;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  tab-size: 4;
  /* 3 */
  -webkit-tap-highlight-color: transparent;
  -ms-text-size-adjust: 100%;
  /* 5 */
  -webkit-text-size-adjust: 100%;
  /* 5 */
  word-break: break-word;
  /* 6 */
}

/* Sections
 * ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Edge, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
 * ========================================================================== */
/**
 * Remove the margin on nested lists in Chrome, Edge, IE, and Safari.
 */
dl dl,
dl ol,
dl ul,
ol dl,
ul dl {
  margin: 0;
}

/**
 * Remove the margin on nested lists in Edge 18- and IE.
 */
ol ol,
ol ul,
ul ol,
ul ul {
  margin: 0;
}

/**
 * 1. Add the correct sizing in Firefox.
 * 2. Show the overflow in Edge 18- and IE.
 */
hr {
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * Add the correct display in IE.
 */
main {
  display: block;
}

/**
 * Remove the list style on navigation lists in all browsers (opinionated).
 */
nav ol,
nav ul {
  list-style: none;
  padding: 0;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
 * ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Add the correct text decoration in Edge 18-, IE, and Safari.
 */
abbr[title] {
  text-decoration: underline;
  text-decoration: underline dotted;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/* Embedded content
 * ========================================================================== */
/*
 * Change the alignment on media elements in all browsers (opinionated).
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on iframes in all browsers (opinionated).
 */
iframe {
  border-style: none;
}

/**
 * Remove the border on images within links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Change the fill color to match the text color in all browsers (opinionated).
 */
svg:not([fill]) {
  fill: currentColor;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Tabular data
 * ========================================================================== */
/**
 * Collapse border spacing in all browsers (opinionated).
 */
table {
  border-collapse: collapse;
}

/* Forms
 * ========================================================================== */
/**
 * Remove the margin on controls in Safari.
 */
button,
input,
select {
  margin: 0;
}

/**
 * 1. Show the overflow in IE.
 * 2. Remove the inheritance of text transform in Edge 18-, Firefox, and IE.
 */
button {
  overflow: visible;
  /* 1 */
  text-transform: none;
  /* 2 */
}

/**
 * Correct the inability to style buttons in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * 1. Change the inconsistent appearance in all browsers (opinionated).
 * 2. Correct the padding in Firefox.
 */
fieldset {
  border: 1px solid #a0a0a0;
  /* 1 */
  padding: 0.35em 0.75em 0.625em;
  /* 2 */
}

/**
 * Show the overflow in Edge 18- and IE.
 */
input {
  overflow: visible;
}

/**
 * 1. Correct the text wrapping in Edge 18- and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 */
legend {
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in Edge 18- and IE.
 * 2. Add the correct vertical alignment in Chrome, Edge, and Firefox.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the inheritance of text transform in Firefox.
 */
select {
  text-transform: none;
}

/**
 * 1. Remove the margin in Firefox and Safari.
 * 2. Remove the default vertical scrollbar in IE.
 * 3. Change the resize direction in all browsers (opinionated).
 */
textarea {
  margin: 0;
  /* 1 */
  overflow: auto;
  /* 2 */
  resize: vertical;
  /* 3 */
}

/**
 * Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  padding: 0;
}

/**
 * 1. Correct the odd appearance in Chrome, Edge, and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Safari.
 */
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

/**
 * Remove the inner padding in Chrome, Edge, and Safari on macOS.
 */
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style upload buttons in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Remove the inner border and padding of focus outlines in Firefox.
 */
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus outline styles unset by the previous rule in Firefox.
 */
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Remove the additional :invalid styles in Firefox.
 */
:-moz-ui-invalid {
  box-shadow: none;
}

/* Interactive
 * ========================================================================== */
/*
 * Add the correct display in Edge 18- and IE.
 */
details {
  display: block;
}

/*
 * Add the correct styles in Edge 18-, IE, and Safari.
 */
dialog {
  background-color: white;
  border: solid;
  color: black;
  display: block;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
}

dialog:not([open]) {
  display: none;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Scripting
 * ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* User interaction
 * ========================================================================== */
/*
 * 1. Remove the tapping delay in IE 10.
 * 2. Remove the tapping delay on clickable elements
      in all browsers (opinionated).
 */
a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
  -ms-touch-action: manipulation;
  /* 1 */
  touch-action: manipulation;
  /* 2 */
}

/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

/* Accessibility
 * ========================================================================== */
/**
 * Change the cursor on busy elements in all browsers (opinionated).
 */
[aria-busy="true"] {
  cursor: progress;
}

/*
 * Change the cursor on control elements in all browsers (opinionated).
 */
[aria-controls] {
  cursor: pointer;
}

/*
 * Change the cursor on disabled, not-editable, or otherwise
 * inoperable elements in all browsers (opinionated).
 */
[aria-disabled="true"],
[disabled] {
  cursor: not-allowed;
}

/*
 * Change the display on visually hidden accessible elements
 * in all browsers (opinionated).
 */
[aria-hidden="false"][hidden] {
  display: initial;
}

[aria-hidden="false"][hidden]:not(:focus) {
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

/*! Marx v3.0.6 - The classless CSS reset (perfect for Communists) | MIT License | https://github.com/mblode/marx */
html {
  overflow-x: auto;
  overflow-y: scroll;
  word-break: normal;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  word-wrap: break-word;
}

@media screen and (prefers-reduced-motion: no-preference) {
  html,
  body {
    scroll-behavior: smooth;
  }
}

main,
header,
footer,
article,
section,
aside,
details,
summary {
  margin: 0 auto;
  margin-bottom: 18px;
  width: 100%;
}

main {
  display: block;
  margin: 0 auto;
  max-width: 768px;
  padding: 0 18px 18px;
}

body {
  background-color: #fbfbfb;
  word-break: normal;
}

/* @media (prefers-color-scheme: dark) {
    body {
        background-color: $bg-dark;
    }
} */
footer {
  border-top: 1px solid #DBDBDB;
  padding: 18px 0;
  text-align: center;
}

footer p {
  margin-bottom: 0;
}

hr {
  border: 0;
  border-top: 1px solid #DBDBDB;
  display: block;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 20%;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: baseline;
}

::selection {
  color: #fff;
  background: #982c61;
}

/* @media screen and (max-width: $small-breakpoint) {
    article,
    section,
    aside {
        clear: both;
        display: block;
        max-width: 100%;
    }
    img {
        margin-right: $md-pad;
    }
} */
embed,
iframe,
video {
  border: 0;
}

body {
  color: #2C2C2C;
  font-family: "inter-web", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 17.5px;
  line-height: 1.7em;
  font-weight: 300;
}

p {
  margin: 0;
  margin-bottom: 18px;
}

b, strong {
  font-weight: 700;
}

.usr-content p img {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
  font-family: inherit;
  line-height: 1.3;
  font-weight: 700;
  margin-bottom: .7rem;
}

h1 {
  font-size: 1.75em;
  margin: 20px 0 18px;
  letter-spacing: -0.4px;
}

h2 {
  font-size: 1.5em;
  margin: 20px 0 18px;
  letter-spacing: -0.4px;
}

h3 {
  font-size: 1.3em;
  margin: 18px 0 4px;
  color: #898989;
}

h4 {
  font-size: 1.2em;
  margin: 18px 0 4px;
  color: #898989;
}

h5 {
  font-size: 1.1em;
  margin: 18px 0 4px;
  color: #898989;
}

h6 {
  font-size: 1em;
  margin: 18px 0 4px;
  color: #898989;
}

small {
  color: #5F5F5F;
  vertical-align: bottom;
}

pre {
  background: #f7f7f9;
  color: #2C2C2C;
  display: block;
  font-family: "inconsolata", Consolas, "Courier", Monaco, monospace;
  font-size: 17.5px;
  margin: 18px 0;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

code {
  color: #e83e8c;
  font-family: "inconsolata", Consolas, "Courier", Monaco, monospace;
  font-size: 17.5px;
  background: #f4f1f1;
  line-height: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  word-break: break-all;
  word-wrap: break-word;
  display: inline;
  padding-left: 7px;
  padding-right: 7px;
  border-radius: 7px;
  font-size: 17.5px;
}

pre {
  background: #f4f1f1;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  color: #e83e8c;
  font-size: 17.5px;
  margin-bottom: 18px;
}

a:not(.media):not(.fn_top):not(img):not(div) {
  text-decoration: none;
  color: inherit;
}

a:not(.media):not(.fn_top):not(img):not(div):hover, a:not(.media):not(.fn_top):not(img):not(div):focus {
  text-decoration: none;
  border-bottom: 1px solid currentColor;
}

a.primary,
.usr-content .page a:not(.media):not(.fn_top):not(img):not(div) {
  color: #982c61;
  border-bottom: 1px solid currentColor;
}

a.primary:hover, a.primary:focus, a.primary:active,
.usr-content .page a:not(.media):not(.fn_top):not(img):not(div):hover,
.usr-content .page a:not(.media):not(.fn_top):not(img):not(div):focus,
.usr-content .page a:not(.media):not(.fn_top):not(img):not(div):active {
  color: #6f1d45;
}

dl {
  margin-bottom: 18px;
}

dd {
  margin-left: 40px;
}

ul,
ol {
  margin-bottom: 18px;
  padding-left: 40px;
  vertical-align: baseline;
}

blockquote {
  border-left: 3px solid #982c61;
  font-family: inherit;
  margin-left: 18px;
  padding-left: 18px;
  padding: 0 1em;
  font-size: 1.25rem;
  font-weight: 300;
  font-style: normal;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

figcaption {
  font-family: inherit;
}

u {
  text-decoration: underline;
}

s {
  text-decoration: line-through;
}

sup {
  vertical-align: super;
  line-height: 0;
  font-size: 75%;
}

sub {
  font-size: 75%;
  vertical-align: sub;
}

mark {
  background: #ffeb3b;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="week"],
input[type="number"],
input[type="search"],
input[type="tel"],
select,
textarea {
  background: #f4f1f1;
  background-clip: padding-box;
  border: 1px solid #f4f1f1;
  border-bottom: 1px solid #5F5F5F;
  border-radius: 4px;
  color: #5F5F5F;
  display: inline-block;
  width: 100%;
  padding: 10px 18px;
  line-height: 1.5;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  font-family: "inter-web", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14.5px;
  margin-right: 10px;
}

.dark input[type="text"],
.dark input[type="password"],
.dark input[type="email"],
.dark input[type="url"],
.dark input[type="date"],
.dark input[type="month"],
.dark input[type="time"],
.dark input[type="datetime"],
.dark input[type="datetime-local"],
.dark input[type="week"],
.dark input[type="number"],
.dark input[type="search"],
.dark input[type="tel"],
.dark select,
.dark textarea {
  background: #454545;
  border: 1px solid transparent;
  border-bottom: 1px solid #FBFBFB;
  color: #FBFBFB;
}

input[type="color"] {
  background: #fff;
  border: 1px solid #DBDBDB;
  border-radius: 4px;
  display: inline-block;
  vertical-align: middle;
}

input:not([type]) {
  -webkit-appearance: none;
  background: #f4f1f1;
  background-clip: padding-box;
  border: 1px solid #DBDBDB;
  border-radius: 4px;
  color: #2C2C2C;
  display: block;
  width: 100%;
  padding: 10px 18px;
  line-height: 1.5;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  text-align: left;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
select:focus,
textarea:focus {
  background-color: #fff;
  border-color: #cc96b0;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(152, 44, 97, 0.25);
}

.dark input[type="text"]:focus,
.dark input[type="password"]:focus,
.dark input[type="email"]:focus,
.dark input[type="url"]:focus,
.dark input[type="date"]:focus,
.dark input[type="month"]:focus,
.dark input[type="time"]:focus,
.dark input[type="datetime"]:focus,
.dark input[type="datetime-local"]:focus,
.dark input[type="week"]:focus,
.dark input[type="number"]:focus,
.dark input[type="search"]:focus,
.dark input[type="tel"]:focus,
.dark input[type="color"]:focus,
.dark select:focus,
.dark textarea:focus {
  color: #FBFBFB;
  background-color: #5F5F5F;
}

input:not([type]):focus {
  background-color: #fff;
  border-color: #cc96b0;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(152, 44, 97, 0.25);
}

input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: 1px thin #DBDBDB;
}

input[type="text"][disabled],
input[type="password"][disabled],
input[type="email"][disabled],
input[type="url"][disabled],
input[type="date"][disabled],
input[type="month"][disabled],
input[type="time"][disabled],
input[type="datetime"][disabled],
input[type="datetime-local"][disabled],
input[type="week"][disabled],
input[type="number"][disabled],
input[type="search"][disabled],
input[type="tel"][disabled],
input[type="color"][disabled],
select[disabled],
textarea[disabled] {
  background-color: #DBDBDB;
  color: #5F5F5F;
  cursor: not-allowed;
  opacity: 1;
}

input:not([type])[disabled] {
  background-color: #DBDBDB;
  color: #5F5F5F;
  cursor: not-allowed;
  opacity: 1;
}

input[readonly],
select[readonly],
textarea[readonly] {
  border-color: #DBDBDB;
  color: #5F5F5F;
}

input:focus:invalid,
textarea:focus:invalid,
select:focus:invalid {
  border-color: #d91a72;
  color: #e83e8c;
}

input[type="file"]:focus:invalid:focus,
input[type="radio"]:focus:invalid:focus,
input[type="checkbox"]:focus:invalid:focus {
  outline-color: #e83e8c;
}

select {
  border: 1px solid #DBDBDB;
  vertical-align: sub;
}

select:not([size]):not([multiple]) {
  height: calc(40px);
}

select[multiple] {
  height: auto;
}

label {
  display: inline-block;
  line-height: 2;
  color: #5F5F5F;
  font-size: 14.5px;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 10px 0;
}

fieldset li {
  list-style: none;
}

legend {
  border-bottom: 1px solid #DBDBDB;
  color: #2C2C2C;
  display: block;
  margin-bottom: 10px;
  padding: 10px 0;
  width: 100%;
}

textarea {
  overflow: auto;
  resize: vertical;
}

input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0;
  display: inline;
}

input[type=submit],
input[type=reset],
input[type=button],
button {
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #000;
  padding: 10px 18px;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  line-height: 1.5;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  cursor: pointer;
  font-size: 14.5px;
}

input[type=submit],
button[type=submit],
#media__sendbtn {
  font-weight: 700;
  border: 1px solid #000;
}

.dark input[type=submit],
.dark input[type=reset],
.dark input[type=button],
.dark button {
  background-color: transparent;
  color: #FBFBFB;
  border: 1px solid #FBFBFB;
}

.dark button:hover,
.dark button:active,
.dark button:focus {
  background-color: #454545 !important;
  border: 1px solid #FBFBFB !important;
  color: #FBFBFB;
  transition: 0.5s box-shadow, 0.6s background-color, 0.6s border;
}

input[type=submit]::-moz-focus-inner,
input[type=reset]::-moz-focus-inner,
input[type=button]::-moz-focus-inner,
button::-moz-focus-inner {
  padding: 0;
}

input[type=submit]:hover,
input[type=reset]:hover,
input[type=button]:hover,
button:hover {
  background-color: #000;
  border-color: #000;
  color: #fff;
}

input[type=submit]:not(:disabled):active,
input[type=reset]:not(:disabled):active,
input[type=button]:not(:disabled):active,
button:not(:disabled):active {
  background-color: #000;
  border-color: #000;
  color: #fff;
}

input[type=submit]:focus,
input[type=reset]:focus,
input[type=button]:focus,
button:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(152, 44, 97, 0.5);
}

input[type=submit]:disabled,
input[type=reset]:disabled,
input[type=button]:disabled,
button:disabled {
  opacity: .65;
  cursor: not-allowed;
  background-color: transparent;
  border-color: #000;
  color: #000;
}

table {
  margin-bottom: 18px;
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  border-collapse: collapse;
  word-break: keep-all;
}

caption {
  padding: 10px 0;
}

thead th {
  border: 0;
  border-bottom: 2px solid #DBDBDB;
}

tr {
  margin-bottom: 10px;
}

th,
td {
  padding: 10px;
  vertical-align: middle;
}

td {
  border-bottom: 1px solid #DBDBDB;
}

tfoot tr {
  text-align: left;
}

tfoot td {
  color: #5F5F5F;
  font-size: 10px;
  font-style: italic;
  padding: 18px 4px;
}

.usr-content table .code {
  display: inline;
}
